In [16]:
import pandas as pd
import requests

In [ ]:
%pip install requests pandas

In [10]:
#
url = "https://raw.githubusercontent.com/seanpatlan/wordle-words/refs/heads/main/word-bank.csv"
# url="https://github.com/18865366-1b46-43ab-8373-5c0e91320232"

In [11]:
words = requests.get(url).text

In [14]:
words=words.strip().splitlines()

In [17]:
df = pd.Series(words)

In [23]:
df = pd.DataFrame(df.map(list).values.tolist())

In [29]:
100 * (df == "s").sum(axis=0) / len(df)

0    15.809935
1     0.691145
2     3.455724
3     7.386609
4     1.555076
dtype: float64

In [31]:
import string

In [32]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [39]:
lets = pd.Series(list(string.ascii_lowercase))
counts = lets.apply(lambda l: (df == l).sum())

In [40]:
counts /= len(df)

In [41]:
counts *= 100

In [42]:
counts.index = lets.values

In [50]:
counts.astype(int)

    0   1   2   3   4
a   6  13  13   7   2
b   7   0   2   1   0
c   8   1   2   6   1
d   4   0   3   2   5
e   3  10   7  13  18
f   5   0   1   1   1
g   4   0   2   3   1
h   2   6   0   1   6
i   1   8  11   6   0
j   0   0   0   0   0
k   0   0   0   2   4
l   3   8   4   6   6
m   4   1   2   2   1
n   1   3   6   7   5
o   1  12  10   5   2
p   6   2   2   2   2
q   0   0   0   0   0
r   4  11   7   6   9
s  15   0   3   7   1
t   6   3   4   6  10
u   1   8   7   3   0
v   1   0   2   1   0
w   3   1   1   1   0
x   0   0   0   0   0
y   0   0   1   0  15
z   0   0   0   0   0

In [49]:
counts.sum(axis=1).sort_values()

j     1.166307
q     1.252700
x     1.598272
z     1.727862
v     6.609071
w     8.423326
k     9.071274
f     9.935205
b    12.138229
g    13.434125
m    13.650108
p    15.853132
h    16.803456
d    16.976242
y    18.358531
u    20.172786
c    20.604752
n    24.838013
s    28.898488
i    28.984881
l    31.058315
t    31.490281
o    32.570194
r    38.833693
a    42.289417
e    53.261339
dtype: float64

In [ ]:
l = 'oratesling'